#modulHero{
    width: 100%;
    min-height: 329px;
    background-color: #1C1D1F;
    padding-top: 7px;
    .sk-subtitle-hero{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.2px;
        color: #CEC0FC;
        background-color: transparent;
        width: fit-content;

    }
    .sk-title-hero{
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        background-color: transparent;
        width: fit-content;
    }
    .sk-subtitle-second-hero{
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 27px;
        color: #CEC0FC;
        background-color: transparent;
        max-width: 600px;
    }
    .sk-contain-dflex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 322px;
        background-color: transparent;
    }
}

#modulViewMenu{
    position: relative;
    .container-grid-opening{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-around;
		align-content: space-evenly;
		align-items: center;
		justify-items: stretch;
        .sk-card-menu-views{
            width: 700px;
            height: 48px;
            position: relative;
            top: -317px;
            left: 176px;
            padding: 6px;
            border: #F5F5F5 1px solid;
            background: #FFFFFF;
            ul{
                display: flex;
                min-width: 600px;
                list-style: none;
                margin-top: 9px;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                li{
                    margin-right: 20px;
                    text-align: center;
                    a{
                        text-decoration: none;
                        text-align: center;
                        color: #000;
                    }
                }
            }
        }
        .sk-card-videos-views{
            max-width: 340px;
            background-color: #fff;
            position: relative;
            top: -317px;
            left: 259px;
            .sk-thumbnail{
                width: 340px;
                height: 191px;
                background: rgb(218, 5, 5);
            }
            .sk-flex-column{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                align-content: space-between;
            }
            .sk-detail-card-video{
                list-style: none;
                .grid-item{
                    display: flex;
                    flex-direction: row;
                    .sk-icon-video-24{
                        width: 24px;
                        height: 24px;
                        background: url('/public/assets/icons/icon-video.png');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center center;
                        object-fit: contain;
                    }
                    .sk-icon-file-24{
                        width: 24px;
                        height: 24px;
                        background: url('/public/assets/icons/icon-file.png');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center center;
                        object-fit: contain;
                    }
                    .sk-icon-folder-download-24{
                        width: 24px;
                        height: 24px;
                        background: url('/public/assets/icons/icon-folde-download.png');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center center;
                        object-fit: contain;
                    }
                    .sk-icon-infinate-24{
                        width: 24px;
                        height: 24px;
                        background: url('/public/assets/icons/icon-invinate.png');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center center;
                        object-fit: contain;
                    }
                    .sk-icon-square-24{
                        width: 24px;
                        height: 24px;
                        background: url('/public/assets/icons/icon-square.png');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center center;
                        object-fit: contain;
                    }
                    .sk-icon-sertifikat-24{
                        width: 24px;
                        height: 24px;
                        background: url('/public/assets/icons/icon-sertifikat.png');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center center;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}