nav{
    padding: 10px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        list-style: none;
        li{
            margin: 0 10px;
            a{
                text-decoration: none;
                color: #000;
            }
            .sk-btn-masuk{
                background-color:#fff;
                color: #000;
                border: 1px solid #000;
                padding: 10px 20px;
                border-radius: 5px;
            }
            .sk-btn-daftar{
                background-color:#000;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
            }
        }
    }
    .sk-list-menu{
        width: 207px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        li{
            margin: 0 10px;
            a{
                text-decoration: none;
                color: #000;
            }
            flex-grow: 4;
        }
        li:first-of-type{
            text-align: left;
        }
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .sk-icon-keranjang{
        width: 16px;
        height: 16px;
        background: url('/public/assets/icons/keranjang.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: contain;
    }
    .sk-icon-global{
        width: 16px;
        height: 16px;
        background: url('/public/assets/icons/globe_language.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: contain;
    }
    
    .sk-input-search-nav{
        width: 38%;
        height: 30px;
        border: 1px solid #000;
        border-radius: 30px;
        padding: 0 10px;
        font-size: 12px;
        margin: 0;
    }
    
    .nav-brand{
        width: 100px;
        height: 100px;
        background: url('/public/assets/images/Logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: contain;
    }
    .sk-ml-5{
        margin-left: 42px;
        margin-right: 44px;
    }
}
