@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "nav";
@import "home";
@import "detail";


*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #FFFFFF;
}

h1{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .5px;
    width: fit-content;
}
h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: .2px;
    width: fit-content;
    background: #F7F9FA;
    color: #1C1D1F;
}

.w-100{
    width: 100%;
}

.sk-btn{
    max-width: 230px;
    padding: 4px 20px;
}
.sk-btn-border{
    border: 1px solid #000;
}

.sk-btn-purple{
    background-color: #A435F0;
    color: #FFFFFF;
    width: 292px;
    height: 48px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: .2px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
}
.sk-mt-5{
    margin-top: 5px;
}
.sk-mt-10{
    margin-top: 10px;
}
.sk-mt-14{
    margin-top: 14px;
}
.sk-mt-16{
    margin-top: 16px;
}
.sk-mt-20{
    margin-top: 20px;
}
.sk-mt-24{
    margin-top: 24px;
}
.sk-mt-45{
    margin-top: 45px;
}
.sk-mt-70{
    margin-top: 70px;
}
.sk-ml-176{
    margin-left: 176px;
}
// display flex
.sk-display-flex{
    display: flex;
    flex-direction: row;
}
.sk-display-flex-column{
    display: flex;
    flex-direction: column;
}
// justify-content
.sk-justify-content-center{
    justify-content: center;
}
.sk-justify-content-space-between{
    justify-content: space-between;
}
.sk-justify-content-space-around{
    justify-content: space-around;
}
.sk-justify-content-flex-end{
    justify-content: flex-end;
}
// align-items
.sk-align-items-center{
    align-items: center;
}
.sk-align-items-flex-end{
    align-items: flex-end;
}
// align-content
.sk-align-content-center{
    align-content: center;
}
// flex-wrap
.sk-flex-wrap-nowrap{
    flex-wrap: nowrap;
}
.sk-flex-wrap-wrap{
    flex-wrap: wrap;
}
// flex-grow
.sk-flex-grow-1{
    flex-grow: 1;
}
// flex-shrink
.sk-flex-shrink-1{
    flex-shrink: 1;
}
// flex-basis
.sk-flex-basis-100{
    flex-basis: 100%;
}
.sk-flex-basis-50{
    flex-basis: 50%;
}
.sk-flex-basis-33{
    flex-basis: 33%;
}
.sk-flex-basis-25{
    flex-basis: 25%;
}
.sk-flex-basis-20{
    flex-basis: 20%;
}
.sk-flex-basis-16{
    flex-basis: 16%;
}
.sk-flex-basis-12{
    flex-basis: 12%;
}
.sk-flex-basis-10{
    flex-basis: 10%;
}
.sk-flex-basis-8{
    flex-basis: 8%;
}
.sk-flex-basis-6{
    flex-basis: 6%;
}
.sk-flex-basis-4{
    flex-basis: 4%;
}
.sk-flex-basis-2{
    flex-basis: 2%;
}
// flex
.sk-flex{
    flex: 1;
}
.sk-border{
    border: .5px solid #000;
}
.sk-transparency{
    background: transparent;
}
.sk-bg-blue{
    background: #e7f1ff;
}
body{
    max-width: 100%;
}