@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "nav";
@import "home";


*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #FFFFFF;
}

h1{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .5px;
    width: fit-content;
}
h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: .2px;
    width: fit-content;
    background: #F7F9FA;
    color: #1C1D1F;
}

.sk-btn{
    max-width: 230px;
    padding: 4px 20px;
}
.sk-btn-border{
    border: 1px solid #000;
}

.sk-mt-5{
    margin-top: 5px;
}
.sk-mt-10{
    margin-top: 10px;
}
.sk-mt-14{
    margin-top: 14px;
}
.sk-mt-16{
    margin-top: 16px;
}
.sk-mt-20{
    margin-top: 20px;
}
.sk-mt-24{
    margin-top: 24px;
}
.sk-mt-45{
    margin-top: 45px;
}

body{
    max-width: 100%;
}