.sk-footer{
    height: 481px;
    background: #1C1D1F;
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
    gap: 30px;
    justify-content: center;
    .bact1{
        
        h4{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size * 1.3;
            line-height: 30px;
            color: #ffff;
        }
        .contain-icon{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .sk-copy-right{
            p{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #FFFFFF;

            }
        }
    }
    .bact2{
        h5{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
    .bact3{
        h5{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
    .bact4{
        h5{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #FFFFFF;
        }
    }
}