.page-kelas-event{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F1F6FF;
    box-sizing: content-box;
    margin-top: 92px;
    .contain-product{
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-bottom: 12px;
        .sk-filter{
            height: inherit;
            margin-top: 55px;
            margin-left: 100px;
            h3{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: $base-font-size;
                line-height: 30px;
                color: #3C3C3C;
            }
            input[type=checkbox] + label {
                font-family: 'Poppins';
                font-style: italic;
                font-weight: 400;
                font-size: 0.9rem;
                line-height: 21px;
                color: #7E7E7E;
              } 
            input[type=checkbox]:checked + label {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 0.9rem;
                line-height: 21px;
                color: #000;
            }
            ul{
                list-style: none;
                li{
                    margin-bottom: 10px;
                }
            }
        }
        .sk-product-list{

            margin-top: 55px;
            margin-right: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            width: 100%;
            .card{
                width: min(285px);
                padding-bottom: 8px;
                .card-body{
                    height: 178px;
                    .sk-sub-panel{
                        display: flex;
                        flex-direction: row;
                        p{
                            margin-right: 20px;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 0.8rem;
                            line-height: 21px;
                            color: #2666CF;
                        }
                        button{
                            width: 104px;
                            height: 21px;
                            background: #F69B39;
                            border: none;
                            border-radius: 5px;
    
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: .8rem;
                            line-height: 21px;
                            color: #FFFFFF;
                        }
                    }
                    .sk-title-panel{
                        width: 100%;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: $base-font-size;
                        line-height: 24px;
                        color: #2D394E;
                    }
                    .sk-pemateri{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: .8rem;
                        line-height: 21px;
                        color: #2D394E;
                    }
                    .sk-rating{
                        
                       display: flex;
                       flex-direction: row;
                       justify-content: flex-end;
                       padding-right: 10px;
                    }
                }
                .sk-harga{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 36px;
                    color: #2D394E;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 12px;
                    padding-left: 12px;
                    .btn-detail{
                        width: 130px;
                        height: 50px;
                        background: #2666CF;
                        border-radius: 15px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: $base-font-size;
                        line-height: 30px;
                        color: #ffff;
                        border: none;
                
                    }
                }
            }
        }
    }
}