#sk-navbar{
    display: flex;
    padding: 0 100px ;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100px;
    height: 92px;
    width: 100vw;
    border: 1px;
    box-sizing: border-box;
    border-bottom: 1 solid #000000;
    box-shadow: 0px 3px #888888;
    background-color: rgb(254, 254, 254);
    #search_global{
        width: 345px;
        height: 50px;
        border-radius: 20px;
        border: 1 solid #fefefe;
        margin-right: 49px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 600px;
        margin-right: auto;
        list-style: none;
        text-align: center;
        li{
            margin-right: 50px;
<<<<<<< HEAD
            font-family: 'Poppins';
=======
            font-family: 'Poppins',sans-serif;
>>>>>>> 65d8dd9 (rubah file)
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #000000;
        }
    }
    .w-100{
        width: 323px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 13px;
        .btn-login{
            width: 130px;
            height: 50px;
            background: #fefefe;
            border-radius: 15px;
<<<<<<< HEAD
            font-family: 'Poppins';
=======
            font-family: 'Poppins',sans-serif;
>>>>>>> 65d8dd9 (rubah file)
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #000000;
            border: none;
            &:hover{ 
                border: 1px solid #2666CF;
                background-color: #2666CF;
                color: white;
            }
        }
        .btn-register{
            width: 130px;
            height: 50px;
            background: #2666CF;
            border-radius: 15px;
<<<<<<< HEAD
            font-family: 'Poppins';
=======
            font-family: 'Poppins',sans-serif;
>>>>>>> 65d8dd9 (rubah file)
            font-style: normal;
            font-weight: 500;
            font-size: $base-font-size;
            line-height: 30px;
            color: #ffff;
            border: none;
    
        }
    }

    .logo{
        width: 180px;
        height: 69px;
        background-position: center;
        object-fit: cover;
        margin-right:49px ;
    }
}